// Namaste-Yoga Colors
$ny-orange:#ff6633;
$ny-purple:#8464CA;
$ny-dark_purple:#330033;
$ny-gray:#333;
$ny-white:#fff;
$ny-black:#000;

// Greys
$light-gray: #e6e6e6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$darker-gray: #ccc;
$ny_bg_gray:#f7f7f7;

// Blacks
$true-black: #0a0a0a;
$black:#34495e;

// Info colors
$success-color: #3adb76;
$warning-color: #ffae00;
$alert-color: #ec5840;
