@charset 'utf-8';

// Import custmoized settings
@import 'colors';
@import 'typography';
@import 'transitions';
@import 'buttons';
@import 'functions';
@import 'mediaQueries';
@import 'mesMexins';

// GENERALS

::selection{
	background-color: lighten($ny-orange, 35);
	color: $ny-gray;
	text-shadow: none;
}

.clear{
	clear: both;
}

$box_shadow: 0 1rem 2rem rgba(0,0,0,.5);
$links_shadow: 0 0.1rem 0.2rem rgba(0,0,0,.5);

html{
	font-size: 100%;
	line-height: 1.5em;
	letter-spacing: .01rem
}
body{
	background-color: $ny_bg_gray;
}
