@charset 'utf-8';

// Import custmoized settings
@import 'colors';
@import 'typography';
@import 'transitions';
@import 'buttons';
@import 'fonts';
@import 'functions';
@import 'mediaQueries';
@import 'mesMexins';

// GENERALS

::selection{
	background-color: lighten($ny-orange, 35);
	color: $ny-grey;
	text-shadow: none;
}

.clear{
	clear: both;
}

body{
	background-color: $ny-white;
}
