$global-font-size: 100%;
$global-width: rem-calc(1200);
$global-lineheight: 1.5;
$global-margin: 1rem;
$global-padding: 1rem;
$global-weight-normal: normal;
$global-weight-bold: bold;
$global-radius: 0;
$global-text-direction: ltr;

$body-antialiased: true;

// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:400,700,800);
$body-font-family: 'Roboto Slab', sans-serif;

\:root{
  font-size: 16px;
}

body{
  color: $ny-grey;
  font-family: $body-font-family;
}
