@charset 'utf-8';

.header_container{
  padding: 0 10%;
  margin: 0;
  display: block;
  height: 75px;
  border-bottom: lighten($ny_grey, 50) 0.1em solid;
}

// LOGO
.logo_container{
  float: left;
}

// NAVIGATION
.navigation_container{
  float: right;
  font-size: 1rem;
  .navbar{
    margin: 0;
    padding: 0;
    li{
      list-style: none;
      display: inline-block;
      a{
        text-decoration: none;
      }
    }
  }
}
